
!!!
head
    meta(charset='utf-8')
    title dploy - fast app deployment
    meta(name='viewport',content='width=device-width, initial-scale=1.0')
    meta(name='description',content='')
    meta(name='author',content='')
    link(href='./styles/bootstrap.css',rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600',rel='stylesheet',type='text/css')
    link(href='./styles/dploy_mobile.css',rel='stylesheet')
    link(rel='shortcut icon',href='./ico/favicon.png')
body
    header
        div.container-fluid
            h1 My Awesome App ::  #{hash}
            h2 Version #{version}
    section
        div.container-fluid.centered
            a.btn.btn-extralarge(href='itms-services://?action=download-manifest&url=http://dploy.plop.io/#{hash}.plist#') Install application
    section#infos
        div.container-fluid
            table.table.table-condensed
                tbody
                    tr
                        td Minimum OS
                        th #{minos}
                    tr
                        td Build file size
                        th #{size}
                    tr
                        td Bundle id
                        th #{bundleid}
                    tr
                        td Device family
                        th iPhone, iPad
                    tr
                        td Profile expiration
                        th #{profileExpiration}
                    tr
                        td Upload date
                        th #{uploadDate}
    footer
        div.container-fluid
            img(src='./images/logo.png',width='60')